h5 {
    font-family: 'Grape Nuts', cursive;
    color: #d63384;
}
 
p {
    font-family: 'Grape Nuts', cursive;
    color: #ffffff;
}

a {
    font-family: 'Grape Nuts', cursive;
    color: #ffffff;
    background-color: #d63384;
}